<div id="test">
	The chart will load here.
</div>
<script type="text/javascript">
d3.json( '/call.json', function(data){
if (data.length > 0)
{
    // dataformat = [{name: 2006, review_count: 5},
    // {name: Test, review_count: 51},
    // {name: Test1, review_count: 78},
    // {name: Test2, review_count: 89},
    // {name: Test3, review_count: 100}];

var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .4);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
    // .tickFormat(formatPercent);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  data.forEach(function(d) {

    d.review_count = +d.review_count;

  x.domain(data.map(function(d) { return d.name; }));
  y.domain([0, d3.max(data, function(d) { return d.review_count; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Reviews")

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .transition().duration(2000).delay(200)
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.name); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.review_count); })
      .attr("height", function(d) { return height - y(d.review_count); })

});
}
else {
	d3.select("#test").append("p").text("The Api has exceeded max daily requests.").style("font-size", "12px");
}
});
</script>
